 h1
{
    color:black;
}

h2
{
     color:black;
}

h3
{
     font-size:50;
     color:black;
}

h4
{
     color:black;
}

LI
{
     color:black;
}

p
{
font-size: 30px ;
font-family:Arvo;
}

body {
background-color:#ADD8E6;
}